.Weather {
  border: 1px solid #dadde1;
  font-family: arial, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
  color: #2b4353;
}

.Weather .temperature {
  font-weight: bold;
  color: #2b4353;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 10px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .form-control {
  background: #b6e1e0;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
}

.Weather .btn {
  background: #9cd3d3;
  border: none;
  color: #2b4353;
}
